{% extends "base.html" %}
{% block title %}About this Site{% endblock %}
{% block content%}
<html>
    <body>
        <div class="container">
            <div class="p-4">
            <h2>Purpose of this Site:</h2>

                <p>Thank you for visiting our site. This site was a project in exploring Natural Language Processing at Indiana University.
                </p><br>
                <a href="https://github.iu.edu/shubpras/Fall-2023--NLP-Group-3">Github link for source files used to build the Newsmakers Network Site.</a><br>

            <h2>About the Developers:</h2>
                <img src="/static/ps_pic.png" alt="Pete" style="width:200px;"class="rounded-pill">
                <p>Pete Stewart is an information technology professional with experience in data analytics with Python, SQL, R and various other databases and programing languages as well as cyber security,
                technology integration, CRM development, and ecommerce web development. Pete is a Data Science masters student at Indiana University.
                </p>
                <p>Glen Colletti
                </p>
                <p>Shubhkirti Prasad
                <p/>
            </div>
        </div>
    </body>
</html>
{% endblock %}