{% extends "base.html" %}
{% block title %}About this Site{% endblock %}
{% block content%}
<html>
    <body>
        <div class="container">
            <div class="p-4">
            <h2>Purpose of this Site:</h2>

                <p>Thank you for visiting our site. This site was a project in exploring Natural Language Processing at Indiana University.
                </p><br>
                <a href="https://github.iu.edu/shubpras/Fall-2023--NLP-Group-3">Github link for source files used to build the Newsmakers Network Site.</a><br>

            <h2>About the Developers:</h2>
                <p>Pete Stewart a data science student by day, headbanger by night, is a living paradox walking. His brain, a hurricane of algorithms and statistical models, coexists with a soul that screams for 
                    power chords and distorted guitars. His fingers, fluent in the language of Python and R, morph into air-guitars when the coding gets tough.
                </p>
                <p>Glen Colletti is an enthusiastic data science student with a knack for numbers and a love for Italian food. He spends his days immersed in the world of data, exploring patterns, uncovering insights, 
                and using his analytical skills to solve complex problems. But when the workday is over, Glen transforms into a passionate foodie and a connoisseur of dad jokes.
                </p>
                <p>Shubhkirti Prasad Shub, a data science student with a head full of algorithms and a heart full of passion, thrives at the intersection of logic and adrenaline. By day, he wrangle unruly datasets, 
                coaxing insights from their chaotic depths. His fingers dance across keyboards, weaving code that untangles complexities and illuminates hidden patterns. But when the sun dips below the horizon, Shub 
                sheds his analytical skin and morphs into a different kind of champion.
                <p/>
            </div>
        </div>
    </body>
</html>
{% endblock %}