{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content%}
<div class="container">
    <div class="p-4" color="dark"></div>
    <div class="row text-center">
        <h1>Welcome to the Newsmakers Network Application.</h1>
        <h3>Click "Build the Network" Below to start building your network of newsmakers.</h3>
    <div class="row">
        <div class="col text-center">
            <p>Search for the newsmakers you want to examine and create a network of the people most connected to the newsmaker</p>
            <a href="/network" class="btn btn-primary" role="button">Create a Network</a>
        </div>
    </div>
</div>
{% endblock %}